<div id="section-cta">
  <h1>{{ page.title }}</h1>
  <hr>
  <div>
    <h3> {{ section.settings.text-box }} </h3>
    <a href="{{ section.settings.link }}" class="button Size-{{ section.settings.width }}" style="background: {{ section.settings.background_color }}; color: {{ section.settings.color }};">{{ section.settings.linktext }}</a>
  </div>
  <hr>
  <div class="rte">
    {{ page.content }}
  </div>
</div>


{% schema %}
  {
  "name": "Call to action",
  "settings": [
  {
  "id": "text-box",
  "type": "text",
  "label": "Heading",
  "default": "Title"
  },
  {
  "id": "link",
  "type": "url",
  "label": "Button link"
  },
  {
  "id": "linktext",
  "type": "text",
  "label": "Button text",
  "default": "Click here"
  },
  {
  "type": "select",
  "id": "width",
  "options": [
  { "value": "Petit", "label": "Petit"},
  { "value": "Moyen", "label": "Moyen"},
  { "value": "Grand", "label": "Grand"}
  ],
  "label": "Taille"
  },
  {
  "type": "color",
  "id": "background_color",
  "label": "Background color",
  "default": "#ffffff"
  },
  {
  "type": "color",
  "id": "color",
  "label": "Text color",
  "default": "#000"
  }
  ]
  ,
  "presets": [
  {
  "name": "Call to Action",
  "category": "Call To Action"
  }
  ]
  }
{% endschema %}

{% stylesheet %}
  #section-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  }

  .Size-Petit {
  font-size: 10px;
  }
  .Size-Moyen {
  font-size: 20px;
  }
  .Size-Grand {
  font-size: 30px;
  }

  .button {
  display: inline-block;
  padding: 0.85em 1.5em;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: #936100;
  border: none;
  border-radius: 0.62em;
  box-shadow: 0 0.25em #999999;
  }
  .button:hover {
  background-color: #dac08e;
  }
  .button:active {
  background-color: #936100;
  box-shadow: 0 0.125em #666666;
  transform: translateY(0.25em);
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}