<div id="section-menu">
    <div>
        <h3> {{ section.settings.text-box }} </h3>
        <section>{{ section.settings.logo | img_url: '2048x' | img_tag }}</section>
        {% for link in linklists[section.settings.link_list].links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        <hr>
        {% for product_type in collections[section.settings.collection].products %}
            <div class="slideshow-container"  onclick="plusSlides(1)">
                <div class="mySlides fade">
                    <div class="numbertext">{{ product_type.title | escape }} - {{ product_type.price | money }}</div>
                    <img src="{{ product_type | img_url: '1200x800' }}" style="width:100%">
                </div>
            </div>

            <div class="slideshow-container"  onclick="plusSlides2(1)">
                <div class="mySlides2 fade">
                    <div class="numbertext">{{ product_type.title | escape }} - {{ product_type.price | money }}</div>
                    <img src="{{ product_type | img_url: '1200x800' }}" style="width:100%">
                </div>
            </div>
        {% endfor %}




    </div>

</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>
<script>
    var slideIndex = 1;
    showSlides2(slideIndex);

    // Next/previous controls
    function plusSlides2(n) {
        showSlides2(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide2(n) {
        showSlides2(slideIndex = n);
    }

    function showSlides2(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides2");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>

{% schema %}
    {
    "name": "Menu",
    "settings": [
        {
            "id": "text-box",
            "type": "text",
            "label": "Heading",
            "default": "Title"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "link_list",
            "id": "link_list",
            "label": "Menu"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
    {
    "name": "Menu",
    "category": "Menu"
    }
    ]
    }
{% endschema %}

{% stylesheet %}
    * {box-sizing:border-box}

    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    .mySlides {
    display: none;
    cursor: cell;
    }
    .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }

    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}